In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv("gdrive/My Drive/Colab Notebooks/sample_building_name_extracted.csv")

In [0]:
df.head()

                                             Address          BuildingName
0          Address:jurayin,postogola,bikrampur plaza       bikrampur plaza
1  Puran Dhaka, 4/1 Simson road, beside Wajghat K...          Ambiya Tower
2  House#24, "Lake Valley", Flat B-3, Road no. 28...           Lake Valley
3  Eskaton Plaza, Flat 3/A, 131 New Estakon.\nDha...         Eskaton Plaza
4  Partex Star Group,  Shanta Western Tower,  Lev...  Shanta Western Tower

In [0]:
x=df.drop("BuildingName",axis=1)
y=df["BuildingName"]

In [0]:
df.describe()

                               Address BuildingName
count                               39           39
unique                              39           39
top     Dh tower level-15 6 panthapath  Islam Tower
freq                                 1            1

In [0]:
def clean_text(x):
  x = re.sub(r'https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE)
  x = re.sub(r'\<a href', ' ', x)
  x = re.sub(r'&amp;‘:‘ ’', '', x) 
  x = re.sub(r'[_"\-;%()|+&=*%.,!?:#$@\[\]/]। ,', ' ', x)
  x = re.sub(r'<br />', ' ', x)
  x = re.sub(r'\'', ' ', x)
  x = re.sub(r"[\@$#%~+-\.\'।\"]"," ",x)
  x = re.sub(r"(?m)^\s+", "", x)
  x = re.sub("[()]","",x)
  x = re.sub("[‘’]","",x)
  x = re.sub("[!]","",x)
  x = re.sub("[/]","",x)
  x = re.sub("[:]","",x)
  x = re.sub('\ |\?|\.|\!|\/|\;|\:', ' ',x)
  x = x.strip("/")
  return x

In [0]:
import tensorflow as tf
import tensorflow_hub as hub
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
module_url = "https://tfhub.dev/google/universal-sentence-encoder-large/3" 
embed = hub.Module(module_url)

In [0]:
sts_input1 = tf.placeholder(tf.string, shape=(None))
sts_input2 = tf.placeholder(tf.string, shape=(None))


sts_encode1 = tf.nn.l2_normalize(embed(sts_input1), axis=1)
sts_encode2 = tf.nn.l2_normalize(embed(sts_input2), axis=1)

cosine_similarities = tf.reduce_sum(tf.multiply(sts_encode1, sts_encode2), axis=1)
clip_cosine_similarities = tf.clip_by_value(cosine_similarities, 0.0, 1.0)
sim_scores = 1.0 - tf.divide(tf.acos(clip_cosine_similarities), 3.14)

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

In [0]:
def get_quora_qs():
    return(df)
get_quora_qs()

                                              Address  ...                                               embb
0           Address:jurayin,postogola,bikrampur plaza  ...  [-0.052398186177015305, -0.014586562290787697,...
1   Puran Dhaka, 4/1 Simson road, beside Wajghat K...  ...  [0.019128814339637756, -0.0023670094087719917,...
2   House#24, "Lake Valley", Flat B-3, Road no. 28...  ...  [0.0030202153138816357, -0.01948898658156395, ...
3   Eskaton Plaza, Flat 3/A, 131 New Estakon.\nDha...  ...  [-0.053571268916130066, -0.0001183507120003923...
4   Partex Star Group,  Shanta Western Tower,  Lev...  ...  [-0.0065906355157494545, 0.06206649914383888, ...
5   NRB Commercial Bank Ltd.\nSilver Tower, (1st f...  ...  [-0.025520263239741325, -0.006527350749820471,...
6                      Dh tower level-15 6 panthapath  ...  [-0.00429569510743022, 0.03988812863826752, -0...
7       98 eastera rokeya tower flat-2/1202 maghbazar  ...  [0.031225835904479027, 0.010481119155883789, -...
8   brac bank speal platinum tower 247-248 tejgon ...  ...  [-0.012938322499394417, -0.019607022404670715,...
9   Jara\nDhaka Mercantile Bank\n88-Rashid Complex...  ...  [0.010835194028913975, -0.0368659682571888, 0....
10  Islam Tower, Opposite of BTV, Pathao Office, R...  ...  [0.0027164702769368887, -0.024393320083618164,...
11  Arafat homes, 3/ka, Ahamed nagar,(daud khan ma...  ...  [0.07692860066890717, -0.046240225434303284, -...
12  Sheltech Monihar 10 /D , 154 /1 Monipuripara D...  ...  [0.017395878210663795, -0.008342118933796883, ...
13  DK Technology Ltd. (4th Floor), DK Tower, 94 B...  ...  [0.030771572142839432, -0.00885080173611641, 0...
14  Ka/47, 3/b, Rojonigondha house, Holly cresent ...  ...  [0.03268931433558464, -0.029826698824763298, -...
15  310/A, Abedin Villa. Senpara parbota. Al helal...  ...  [0.07127754390239716, -0.023132123053073883, -...
16  rawa complex, level-8, oxford office, mohakhal...  ...  [0.011816759593784809, -0.0342237763106823, -0...
17  :  Rupsa building, SP para (near battlelian Bo...  ...  [0.04341553896665573, -0.03311575949192047, -0...
18  Mansuba tower, house no 24, 5th floor east wes...  ...  [-0.034332841634750366, 0.01213822141289711, -...
19  443 Al modina complex, (3rd floor) joynal mark...  ...  [0.00019103160593658686, -0.023293983191251755...
20  76, Molly Capita Center \nBata showroom buildi...  ...  [-0.07734176516532898, -0.04358235374093056, -...
21  Khan Villa,House no-29(5B),Road No-19,Sector-1...  ...  [0.0636511892080307, -0.06292451918125153, -0....
22     BSC Tower, Doinik Bangla Mor, Motijheel, Dhaka  ...  [0.04039013758301735, -0.018957674503326416, -...
23  House-760,761/A, Road-11, Avenue-6, 5th Floor,...  ...  [0.05933534353971481, -0.03614377975463867, -0...
24    Ionic crescent,116 monipuripara, flat 3a, dhaka  ...  [0.0397736132144928, 0.024241788312792778, -0....
25                         51/A Uday Tower, Gulshan 1  ...  [0.021350959315896034, -0.039463598281145096, ...
26  MRIDA VABAN\n14/3 SONATON GOR\nTANARIR MOR\nZI...  ...  [0.03184353560209274, -0.014932652935385704, -...
27         A11,Queens Garden Home,New Eskaton,Dhaka\n  ...  [-0.008995170705020428, -0.014704159460961819,...
28  flat no. 6B, silcon cottage, house no. 300/j, ...  ...  [-0.02889672853052616, 0.020294450223445892, -...
29                           65 Matbor Tower Zigatola  ...  [0.0007331066881306469, 0.018451927229762077, ...
30  Lily Cottage, House 12/2, Siddeshwari Shudhi S...  ...  [0.010853608138859272, -0.04093807563185692, -...
31  PBS building, 41 Shilpacharya Joynal Abedin sh...  ...  [-0.028707971796393394, -0.005955427885055542,...
32  3/O\nJk house\nDhopa para moshzid \n7/a dhanmondi  ...  [0.06597670912742615, -0.029420413076877594, -...
33  LK Sunrise, Plot-1140-1142, Nurer Chala Main R...  ...  [0.00449508149176836, -0.03067682683467865, -0...
34  C8, Tower 1, Premier Plaza(beside popular diag...  ...  [0.0015780964167788625, 0.012309919111430645, ...
35            motaleb plaza paribag,block-b,flat-13/2  ...  [-0.03640051186084747, -0.008588689379394054, ...
36  JIBON BIMA TOWER , 6TH FLOOR, 10 DILKUSHA , C....  ...  [0.003477655816823244, -0.022074587643146515, ...
37   Cha-95/4/A, Sweet Arman, North Badda, Dhaka 1212  ...  [0.01731349527835846, -0.02458062767982483, -0...
38  Building-Antomil, Ka-1, Kuril, Joar Shahara, D...  ...  [0.03427634388208389, -0.016446273773908615, 0...

[39 rows x 6 columns]

In [0]:
def get_scores(session, questions):
    emba, embb, scores = session.run(
        [sts_encode1, sts_encode2, sim_scores],
        feed_dict={
            sts_input1: questions['new'].tolist(),
            sts_input2: questions['Address'].tolist()
        })
    return (emba, embb, scores)

In [0]:
def bar_scores(rec_df):
    objects = list(range(1, len(rec_df['Address'].tolist()) +1))
    y_pos = np.arange(len(objects))
    performance = rec_df.index.values.tolist()
    plt.figure(figsize=(15,10))
    plt.bar(y_pos, performance, align='center', alpha=0.5)
    plt.xticks(y_pos, objects)
    plt.ylabel(rec_df['new'].tolist()[0])
    plt.title('Top 10 Recommendations')
    loc = -0.1
    for i,res in enumerate(rec_df['Address'].tolist()):
        plt.text(-0.7, loc, '{0}: {1}'.format(i+1, res), fontsize=15)
        loc-=0.1
    plt.show()

In [0]:
def pca_transform(recs):
    pca = PCA(2) 
    queries = recs['Address'].tolist()
    queries.append(recs['BuildingName'].tolist()[0])
    
    embeds1 = recs['emba'].tolist()
    embeds2 = recs['embb'].tolist()
    embeds2.append(embeds1[0])
    projected = pca.fit_transform(embeds2)
    plt.figure(figsize=(15,10))
    x,y =zip(*projected.tolist())
    plt.scatter(x,y)
    plt.xlim(-0.8, 0.8)
    plt.ylim(-0.8, 0.8)
    for (i, (x,y)) in enumerate(zip(x,y)):
        plt.text(x,y,queries[i], ha='center')
    plt.xlabel(recs['BuildingName'].tolist()[0])
    plt.ylabel(recs['new'].tolist()[0])
    plt.show()

In [0]:
new = input()
top_qs = 10

Partex Star Group

In [0]:
with tf.Session() as session:
    qs_df = get_quora_qs()
    qs_df["new"] = new
    session.run(tf.global_variables_initializer())
    session.run(tf.tables_initializer())
    emba, embb, scores = get_scores(session, qs_df)
    qs_df['sim_score'] =  scores
    qs_df['emba'] = np.array(emba).tolist()
    qs_df['embb'] = np.array(embb).tolist()
    sort_by_most_similar = qs_df.sort_values('sim_score', ascending=False)
    print('{:<10} {:<10} {:<20}'.format('Result', 'Score', 'BuildingName'))
    for i, s in enumerate(sort_by_most_similar.round(4).head(n=top_qs).iterrows()):
        print('{:<10} {:<10.1f} {:<20}'.format(i+1, s[1][3]*100, s[1][1]))

Result     Score      BuildingName
1          71.0       Shanta Western Tower
2          69.2       motaleb plaza
3          68.6       Rashid Complex
4          68.4       MRIDA VABAN
5          68.1       bikrampur plaza
6          66.9       Antomil
7          66.3       Queens Garden Home
8          65.4       rokeya tower
9          65.1       Ionic crescent
10         64.8       Khan Villa