In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
df=pd.read_csv("gdrive/My Drive/Colab Notebooks/sample_road_name_extracted.csv")

In [0]:
df=df.dropna()
df.head()

                                       input_address                     expected_road_value
0  17/1-A ,1st colony , Jabbar housing society, m...                              mazar road
1  Flat: 8(C), KA- 40/A, Shahid harez shorok, nod...                     Shahid harez shorok
2                41/3 S.K Das Road, Gendaria ,Dhaka.                            S.K Das Road
3  Tropical Park view 9/1-4 Free School Street Ha...                      Free School Street
4  67 R.K mission Road , Gopibagh, 3rd lane judge...  R.K mission Road, 3rd lane, judge goli

In [0]:
import re
x=df
def clean_text(x):
  return x.split()

In [0]:
clean_address = list()
for address in x.input_address:
    clean_address.append(clean_text(address))
clean_road =list()
for road in x.expected_road_value:
    clean_road.append(clean_text(road))

In [0]:
for i in range(5):
    print("check value:#",i+1)
    print("address:",clean_address[i])
    print("road:",clean_road[i])
    print()

check value:# 1
address: ['17/1-A', ',1st', 'colony', ',', 'Jabbar', 'housing', 'society,', 'mazar', 'road', ',', 'mirpur', ',Dhaka']
road: ['mazar', 'road']

check value:# 2
address: ['Flat:', '8(C),', 'KA-', '40/A,', 'Shahid', 'harez', 'shorok,', 'nodda', 'bus', 'stand,', 'baridhara,', 'Dhaka']
road: ['Shahid', 'harez', 'shorok']

check value:# 3
address: ['41/3', 'S.K', 'Das', 'Road,', 'Gendaria', ',Dhaka.']
road: ['S.K', 'Das', 'Road']

check value:# 4
address: ['Tropical', 'Park', 'view', '9/1-4', 'Free', 'School', 'Street', 'Hatirpool', 'Flat-9D,Floor-10th,lift:9th,9A']
road: ['Free', 'School', 'Street']

check value:# 5
address: ['67', 'R.K', 'mission', 'Road', ',', 'Gopibagh,', '3rd', 'lane', 'judge', 'goli']
road: ['R.K', 'mission', 'Road,', '3rd', 'lane,', 'judge', 'goli']

In [0]:
corpus=clean_address+clean_road

In [0]:
from gensim.models import Word2Vec
model = Word2Vec(corpus, size=100, window=3, min_count=1, workers=2)
model.wv.save_word2vec_format("gdrive/My Drive/Colab Notebooks/address2vec.txt",binary=False)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:402: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [0]:
import gensim
model = gensim.models.KeyedVectors.load_word2vec_format("gdrive/My Drive/Colab Notebooks/address2vec.txt",binary=False)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:402: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [0]:
len(model.wv.vocab)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  """Entry point for launching an IPython kernel.

401

In [0]:
vector = model.wv['mazar']
print(vector)

[-4.8954338e-03  4.7467193e-03  3.4609388e-03 -8.2645967e-04
 -4.0004710e-03  1.1344393e-03  1.3716418e-04 -7.0139120e-04
  4.2153662e-03  1.6282403e-03  7.9177169e-04  2.3346212e-04
 -2.5831352e-03 -1.5481433e-05 -4.8153233e-03  4.4463165e-03
  8.5873931e-04  4.4838409e-03 -2.2205147e-03  3.2925508e-03
  3.0209057e-03 -1.2237268e-03 -1.3080612e-03 -3.2225058e-03
 -1.4760961e-03  1.8982142e-03 -1.4394346e-03 -2.9945930e-03
  1.0295567e-03 -2.6554484e-03  3.8062928e-03  3.6864181e-03
  2.7252464e-03 -3.4802710e-03  5.0836476e-04  2.7716935e-03
  1.8679528e-03  1.4827780e-03 -2.5420247e-03 -2.0055959e-03
 -2.6239366e-03  2.0287992e-04 -3.6075742e-03  3.4773969e-03
  3.6722184e-03  3.8780565e-03  2.2073174e-04  7.5122865e-04
  3.2180741e-03 -2.0347624e-03  3.5208652e-03  7.0407509e-04
 -2.3501923e-03 -3.0346652e-03  7.9978531e-04  5.8565533e-04
 -2.5172401e-04 -2.9546628e-03 -4.7134962e-03 -1.7340468e-03
 -1.6182308e-03  1.8350137e-03 -4.3208613e-03 -4.9401312e-03
  2.4995687e-03  1.2556590e-04  4.3255473e-03 -1.4404715e-03
 -2.7833048e-03 -3.6242902e-03 -1.2194300e-03 -4.0926022e-04
  3.3614151e-03 -2.7464663e-03 -2.6608489e-03  2.7880191e-03
 -2.0040052e-03 -4.1694540e-04 -4.0873894e-03  1.4505502e-04
  4.7303014e-03  7.5994496e-04  3.9886795e-03 -3.2209181e-03
 -4.5613609e-03 -4.3446178e-04 -2.4590518e-03 -3.3652494e-04
 -2.5769498e-03 -2.1307962e-04 -1.8222228e-03 -3.3232127e-03
  1.5017178e-03  2.2408171e-03  3.3634584e-03 -1.1205295e-03
  3.7389980e-03  2.6095372e-03  2.6786050e-03  3.7247546e-03]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  """Entry point for launching an IPython kernel.

In [0]:
df.head()

                                       input_address                     expected_road_value
0  17/1-A ,1st colony , Jabbar housing society, m...                              mazar road
1  Flat: 8(C), KA- 40/A, Shahid harez shorok, nod...                     Shahid harez shorok
2                41/3 S.K Das Road, Gendaria ,Dhaka.                            S.K Das Road
3  Tropical Park view 9/1-4 Free School Street Ha...                      Free School Street
4  67 R.K mission Road , Gopibagh, 3rd lane judge...  R.K mission Road, 3rd lane, judge goli

In [0]:
from gensim.similarities import WmdSimilarity

In [0]:
text=df
def raw_text(text):
  return text

In [0]:
raw_texts = []
for text in df.input_address:
    raw_texts.append(raw_text(text))

In [0]:
def process_address(text_list, texts, texts_list_name):
    for text in texts:
        text_list.append(raw_text(text))
        if len(text_list) % 10000 == 0:
            progress = len(text_list)/len(df) * 100
            print("{} is {}% complete.".format(text_list_name, round(progress, 1)))

In [0]:
def process_road(text_list, texts, texts_list_name):
    for text in texts:
        text_list.append(raw_text(text))
        if len(text_list) % 10000 == 0:
            progress = len(text_list)/len(df) * 100
            print("{} is {}% complete.".format(text_list_name, round(progress, 1)))

In [0]:
address = []     
process_address(address, df.input_address, "input_address")

In [0]:
road = []
process_road(road,df.expected_road_value,"expected_road_value")

In [0]:
num_best = 1
st=WmdSimilarity(address,model,num_best=1)

In [0]:
print("Enter Address:")
s=input()

Enter Address:
 F1 404 Bara MOghbazar

In [0]:
query = raw_text(s)
l1 = []
sims = st[query]  
print('Best Similar Road:')
for i in range(num_best):
    print("Road:",road[sims[i][0]])
    l1.append(road[sims[i][0]])
    print('similarity = %.3f' % sims[i][1])

Best Similar Road:
Road: Dilu Road
similarity = 0.667

In [0]:
value=l1.pop()
value=value.strip()
df["Index"]=df["expected_road_value"].str.find(value)

In [0]:
df[df['Index']==0]

                                        input_address  ... Index
10  Flat: F1 404 Bara MOghbazar Dilu Road New Eskaton  ...     0

[1 rows x 3 columns]